.DS_Store
/MySwift.xcworkspace
Podfile.lock
/Pods
MySwift/resource/.DS_Store
MySwift.xcodeproj/project.xcworkspace/xcuserdata/
MySwift.xcodeproj/xcuserdata/
MySwift.xcodeproj/project.pbxproj
MySwift.xcodeproj/project.pbxproj
