<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2023-12-21T04:35:04Z</date>
	<key>WorkspacePath</key>
	<string>/Users/lzd/Repository/iOS_swift/MySwift.xcworkspace</string>
</dict>
</plist>
